/* Layout of "Contact" Page */
form{
    font-size: 1.05em;
    background-color: hsla(200, 18%, 93%, 0.92);
    height: 85vh;
    width: 70%;
    margin: 0 auto;
    border: 1px groove;
    border-radius: 10px;
    padding: 10px;

  } 

  form .content{
    text-align: center;
  }

  form .container{
    display: inline-block;
    margin: 10px 400px;

  }


  form label{
    display: inline-block;
    width: 70px;
    padding: 0 10px;
    text-align: center;
    vertical-align: top;
  }
  form input{
    width: 200px;
    height: 20px;
    border: 1px solid;
  }
  form button{
    font-size: 20px;
  }

