/* form.css MingHsun 301335715 20240526 */
/* Layout of "Contact" Page */
form{
    font-size: 1.05em;
    background-color: hsla(200, 18%, 93%, 0.92);
    height: 90vh;
    width: 60%;
    margin: 0 auto;
    border: 1px groove;
    border-radius: 10px;
    padding: 10px;

  } 

  form .content{
    text-align: center;
  }

  form .container{
    display: inline-flex;
    margin-bottom: 20px; 
    margin: 10px 200px;
  }

  .container label{
    margin-right: 5px;
    width: 80px; 
  }
  .container input,.container textarea{
    font-size: 16px;
    padding: 3px 0;
  }
  
  form button{
    font-size: 20px;
  }


